*.iml
.gradle
/build
/captures
.externalNativeBuild
.cxx
local.properties
.idea
.DS_Store
/build
/app/build
OceanStudio/app/build/
OceanStudio/gradle-8.5.zip
node_modules/
dist/
downloads/node_modules/
oceanstudio/node_modules/
oceanstudio/dist/
